* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: center;
}

.nav {
  display: flex;
  justify-content: center;
  &__link {
    text-decoration: none;
    margin: 5px;
  }
}

.section {
  margin-left: 357px;

  &__select {
    width: 123px;
    height: 50px;
  }

  &__select--img {
    margin-left: 215px;
  }
}

.footer {
  display: flex;
  justify-content: center;
}
